*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.question{
    margin: 8px;
    box-shadow: 0px 0px 10px 1px #8fcbcbee;
    border-radius: 5px;
    padding: 5px;
    font-weight: 400;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    min-width: 600;
    height: 270px;
    background-color: white;
    /* display: flex; */
    justify-content: center;
    align-items: center;

}

.submitquizz {
  padding: 5px 12px;
  outline: none;
  border: none;
  background-color: rgb(38, 139, 233);
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
    height: 40px;
width: 100px;
text-align: center;
margin-left: 80px;

  }
  .submitquizz:hover{
    border: 2px solid rgb(120, 165, 207);
    background-color: rgb(76, 157, 234)
  }
  .sk{
    /* 
    text-align: center;
    box-shadow: 0px 0px 10px 1px #a2a3a3;
    border-radius: 5px;
    padding: 5px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    height: 170px; */
    /* display: flex; */
    
    /* justify-content: center;
    align-items: center; */

    /* height: 200px;
    background-color: rgb(194, 184, 168);
     display: flex; 
   width: 600px;
    align-items: center; */
    /* justify-content: space-evenly;
     display: flex; */
  /* flex-direction: column;  */
  }
  .next-prev{
    height: 70px;
    height: 70px;
    margin-top: 10px;
    display: flex;
    text-align: center; 
    
    

  }
  .prev{
    height: 40px;
width: 100px;
text-align: center;
margin-left: 20px;
/* font-weight: 100; */
font-size: large;
font-display: 50px;
border-radius: 5px ;
box-shadow: 3px 3px 2px 1px rgb(127,109,109);
background-color: #d1dede;


    
  }
  .next{
/* height: 40px;
width: 100px;
text-align: center;
margin-left: 20px;
/* font-weight: 100; */
/* font-size: large;
font-display: 50px;
border-radius: 5px ;
box-shadow: 3px 3px 2px 1px rgb(127,109,109);
background-color: #d1dede; */ 
 
padding: 5px 12px;
outline: none;
border: none;
background-color: rgb(38, 139, 233);
border-radius: 5px;
color: white;
font-weight: 600;
cursor: pointer;
  height: 40px;
width: 100px;
text-align: center;
margin-left: 80px;
  }
  .next:hover{
    border:3px solid  rgb(120, 165, 207);
  }